*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: #222;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        margin: 50px 0;
    }
    
    a{
        background-color: rgb(34, 148, 255);
        border: none;
        padding: 20px 10px;
        color: white;
        border-radius: 10px;
        font-weight: 500;
        font-size: 20px;
    }
}